[submodule "lib/cpp-httplib"]
	path = lib/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "lib/samp-ptl"]
	path = lib/samp-ptl
	url = https://github.com/katursis/samp-ptl
[submodule "cmake/modules"]
	path = cmake/modules
	url = https://github.com/katursis/samp-cmake-modules